# CATEGORY Test Run

| Test Case ID | Module | Tester | Result | Related Bug | Note |
| :--- | :--- | :--- | :--- | :--- | :--- |
| TC-CATEGORY-001 | category | Mạch Quốc Tấn | Pass | | |
| TC-CATEGORY-002 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-003 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-004 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-005 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-006 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-007 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-008 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-009 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-010 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-011 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-BVA-001 | category | Mạch Quốc Tấn | Not Run | | |
| TC-CATEGORY-BVA-002 | category | Mạch Quốc Tấn | Not Run | | |
