# CHECKOUT Test Run

| Test Case ID       | Module   | Tester        | Result | Related Bug      | Note                                                       |
| :----------------- | :------- | :------------ | :----- | :--------------- | :--------------------------------------------------------- |
| TC-CHECKOUT-001    | checkout | Mạch Quốc Tấn | Fail   | BUG-CHECKOUT-001, BUG-CHECKOUT-002 | Đồ vẫn trong giỏ, không gọi API cập nhật cart |
| TC-CHECKOUT-002    | checkout | Mạch Quốc Tấn | Pass   |                  | Không thể thanh toán khi chưa đăng nhập / sai token |
| TC-CHECKOUT-003    | checkout |               |        |                  |                                                            |
| TC-CHECKOUT-004    | checkout |               |        |                  |                                                            |
| TC-CHECKOUT-BVA-001| checkout |               |        |                  |                                                            |
| TC-CHECKOUT-BVA-002| checkout |               |        |                  |                                                            |
| TC-CHECKOUT-BVA-003| checkout |               |        |                  |                                                            |
