# MOBILE-REGISTER Test Run

| Test Case ID               | Module          | Tester        | Result | Related Bug             | Note                                      |
| :------------------------- | :-------------- | :------------ | :----- | :---------------------- | :---------------------------------------- |
| TC-MOBILE-REGISTER-001     | mobile-register | Mạch Quốc Tấn | Fail   | BUG-MOBILE-REGISTER-001 | Không có trường xác nhận mật khẩu trên UI |
| TC-MOBILE-REGISTER-002     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-003     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-004     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-005     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-006     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-007     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-008     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-009     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-010     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-011     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-012     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-013     | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-BVA-001 | mobile-register |               |        |                         |                                           |
| TC-MOBILE-REGISTER-BVA-002 | mobile-register |               |        |                         |                                           |
