| Test Case ID    | Module                  | Tester        | Result | Related Bug                              | Note                                                                    |
| :-------------- | :---------------------- | :------------ | :----- | :--------------------------------------- | :---------------------------------------------------------------------- |
| TC-PLAS-001     | product-list-and-search | Mạch Quốc Tấn | Fail   | BUG-PLAS-001, BUG-PLAS-002, BUG-PLAS-003 | Có 2 thẻ <h1>, không có alt text, đơn vị tiền tệ hiện thị VND thay vì ₫ |
| TC-PLAS-002     | product-list-and-search | Mạch Quốc Tấn | Fail   | BUG-PLAS-001, BUG-PLAS-002, BUG-PLAS-003 | Có 2 thẻ <h1>, không có alt text, đơn vị tiền tệ hiển thị VND thay vì ₫ |
| TC-PLAS-003     | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-004     | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-005     | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-006     | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-007     | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-BVA-001 | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-BVA-002 | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-BVA-003 | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-BVA-004 | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
| TC-PLAS-BVA-005 | product-list-and-search | Mạch Quốc Tấn |        |                                          |                                                                         |
