| Test Case ID | Module       | Tester       | Result              | Related Bug | Note           |
| :----------- | :----------- | :----------- | :------------------ | :---------- | :------------- |
| [ID]         | [Tên Module] | [Tên Tester] | [Pass/Fail/Blocked] | [#BugID]    | [Ghi chú thêm] |
